.progress-row {
	display: flex;
	gap: 10px;
}

.bar-container {
	
	width: 100%;
	background: rgba(255, 255, 255, 0.25);
	height: 18px;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}
#conventional-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/4000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#stream-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/500 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#pastors-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/700 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#group-fees-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/8900 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#fundraising-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(219.10/14000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#total-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(219.10/28100 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-1-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-2-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(219/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-3-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-4-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-5-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-6-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-7-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}

#cell-8-progress-bar {
	background: linear-gradient(90deg, #ff4d4d,#990000);
	width: calc(0/2000 * 100%);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
	height: 100%;
}


.bar {
	height: 100%;
	background: linear-gradient(90deg, #ffdd3c,#ff8a00);
	box-shadow: 0 0 8px rgba(255, 200, 0, 0.8);
	border-radius: 12px;
}

.card {
	background: rgba(255, 255, 255, 0.15);
	padding: 20px;
	border-radius: 18px;
	margin-bottom: 25px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
	backdrop-filter: blur(6px);
}

body {
	font-family: Arial, sans-serif;
	background: linear-gradient(180deg, #ff9a3c, #ff6a3c);
	padding: 20px;
	color: white;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 40px;
}

.title-row {
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	margin-bottom: 10px;
}


.sub-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6px;
}
.label {
	font-size: 16px;
}
.sub-bar-container {
	width: 60%;
	background: rgba(255, 255, 255, 0.25);
	height: 14px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
.sub-bar {
	height: 100%;
	background: linear-gradient(90deg, #ffdd3c, #ff8a00);
	box-shadow: 0 0 6px rgba(255, 200, 0, 0.8);
	border-radius: 10px;
}